.user-friends
  &__header
    display: flex
    justify-content: space-between
    padding: 0 30px
    margin-bottom: 25px

  &__title
    text-transform: uppercase
    font-family: "Source Sans Pro Semibold"
    font-size: 12px
    color: #5b6779

  &__list-wrapper
    padding: 0 30px
