.user-friend
  display: flex
  position: relative

  &__item
    display: flex
    margin-bottom: 20px

  &__image
    height: 40px
    width: 40px
    margin-right: 13px

  &__name
    font-size: 14px
    color: #fff

  &__typing
    font-size: 14px
    color: #fff

  &__position
    font-size: 14px
    color: #7c8ca5

  &__unreaded-messages
    position: absolute
    right: 0
    top: 8px
    height: 24px
    width: 24px
    border-radius: 12px
    background-color: #2499f2
    text-align: center
    color: #fff
