.header
  grid-area: header
  width: 100%
  background-color: #ffffff
  height: 82px
  display: flex
  justify-content: space-between
  align-items: center

  padding: 0 30px
  margin-bottom: 30px

  &__title
    color: #354052
    font-size: 24px

  &__current-user
    display: flex
    margin-right: 0px

  &__user-photo
    height: 50px
    width: 50px

  &__user-info
    padding-left: 15px
    font-family: "Source Sans Pro Semibold"
    margin-right: 25px

  &__user-name
    font-size: 16px
    color:#2399f1

  &__user-role
    font-size: 14px
    color:#b5b5b5

  &__user-info-dropdown-button
    border: none
    background: none
    padding: 5px
    transition: filter 0.3s
    cursor: pointer
    &:hover
      filter: brightness(40%)