.user-details
  position: relative
  grid-area: user-details

  width: 370px
  height: 685px
  padding: 9px 8px
  margin-bottom: 20px
  margin-left: 10px

  background-color: #ffffff

  @media screen and (max-width: 1330px)
    display: none

  &::after
    content: ""
    position: absolute
    top: -9px
    right: -9px
    display: inline-block

    height: 40px
    width: 40px

    background-image: url('../../images/service-icons/edit-icon.png')
    cursor: pointer

  &__main-info-wrapper
    position: relative

    height: 287px

  &__main-info
    position: absolute
    top: 41px
    left: 93px

    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

  &__user-image
    width: 156px
    height: 156px

    margin-bottom: 16px

  &__user-fullname
    padding: 1px

    color: #47505c
    font-family: "Source Sans Pro Semibold"
    font-size: 24px
    line-height: 24px

  &__user-position
    color: #b5b5b5
    font-size: 14px

  &__additional-info
    margin: 0 20px 24px 20px
    padding-top: 18px
    border-top: 3px solid #dee7ef

  &__additional-info-email,
  &__additional-info-mobile,
  &__additional-info-paid-out
    margin-bottom: 11px

  &__additional-info-skill-level
    margin-bottom: 11px

  &__additional-info-email-title
    margin-bottom: 2px

  &__additional-info-email-title,
  &__additional-info-mobile-title,
  &__additional-info-skill-level-title,
  &__additional-info-paid-out-title,
  &__additional-info-bio-title,
  &__additional-info-skills-title
    color: #afb7c7
    font-size: 12px
    line-height: 12px

  &__additional-info-email-adress,
  &__additional-info-mobile-number,
  &__additional-info-skill-level-text
    color: #56688a
    font-family: "Source Sans Pro Semibold"
    font-size: 16px

  &__additional-info-paid-out-wrapper
    display: flex
    align-items: center

  &__additional-info-paid-out-image
    height: 4px
    width: 156px
    margin-right: 13px

  &__paid-out-limit-numbers
    color: #353c48
    font-family: "Source Sans Pro Semibold"
    font-size: 14px
    &--blue
      color: #2399f1

  &__additional-info-bio
    margin-bottom: 12px
  
  &__additional-info-bio-title
    margin-bottom: 7px

  &__additional-info-bio-text
    display: inline-block
    width: 320px

    color: #56688a
    font-size: 14px
    line-height: 20px

  &__additional-info-skills-wrapper
    display: flex
  
  &__additional-info-skills-title
    margin-bottom: 7px

  &__additional-info-skills-photography,
  &__additional-info-skills-teacher,
  &__additional-info-skills-traveler,
  &__additional-info-skills-ios
    height: 18px
    padding: 5px 6px 0 8px
    margin-right: 6px
    border-radius: 3px

    color: #fff
    font-family: "Source Sans Pro Semibold"
    font-size: 10px
    text-transform: uppercase
    line-height: 10px


  &__additional-info-skills-photography
    background-color: #0474c8

  &__additional-info-skills-teacher
    background-color: #45b854

  &__additional-info-skills-traveler
    background-color: #8191a6

  &__additional-info-skills-ios
    background-color: #f86b67