.user-details
  grid-area: user-details
  width: 370px
  background-color: #ffffff
  padding: 10px
  margin-bottom: 20px

  &__main-info-wrapper
    height: 287px
    position: relative

  &__main-info
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    position: absolute
    top: 41px
    left: 87px

  &__user-image
    width: 156px
    height: 156px

  &__user-fullname
    font-family: "Source Sans Pro Semibold"
    font-size: 24px
    color: #47505c

  &__user-position
    font-size: 14px
    color: #b5b5b5

  &__additional-info
    margin: 0 20px 24px 30px
    border-top: 3px solid #dee7ef
    padding-top: 16px

  &__additional-info-email,
  &__additional-info-mobile,
  &__additional-info-skill-level,
  &__additional-info-paid-out
    margin-bottom: 10px

  &__additional-info-email-title,
  &__additional-info-mobile-title,
  &__additional-info-skill-level-title,
  &__additional-info-paid-out-title,
  &__additional-info-bio-title,
  &__additional-info-skills-title
    font-size: 12px
    color: #afb7c7

  &__additional-info-email-adress,
  &__additional-info-mobile-number,
  &__additional-info-skill-level-text
    font-family: "Source Sans Pro Semibold"
    font-size: 16px
    color: #56688a

  &__additional-info-paid-out-wrapper
    display: flex
    align-items: center

  &__additional-info-paid-out-image
    height: 4px
    width: 156px
    margin-right: 13px

  &__paid-out-limit-numbers
    font-family: "Source Sans Pro Semibold"
    font-size: 14px
    color: #353c48
    &--blue
      color: #2399f1

  &__additional-info-bio
    margin-bottom: 18px

  &__additional-info-bio-text
    display: inline-block
    width: 320px
    font-size: 14px
    color: #56688a

  &__additional-info-skills-wrapper
    display: flex

  &__additional-info-skills-photography,
  &__additional-info-skills-teacher,
  &__additional-info-skills-traveler,
  &__additional-info-skills-ios
    font-family: "Source Sans Pro Semibold"
    font-size: 10px
    text-transform: uppercase
    color: white
    height: 18px
    border-radius: 3px
    padding: 5px 8px
    line-height: 10px
    margin-right: 5px

  &__additional-info-skills-photography
    background-color: #0474c8

  &__additional-info-skills-teacher
    background-color: #45b854

  &__additional-info-skills-traveler
    background-color: #8191a6

  &__additional-info-skills-ios
    background-color: #f86b67