.sidebar
  height: 100%
  width: 100px
  position: fixed

  top: 0
  left: 0
  background-color: #1d2531
  // display: flex
  // align-content: space-between

  &__user-icon
    list-style: none
    margin: 30px 25px
    height: 50px
    width: 50px
    cursor: pointer

  &__grid-button
    background: url('../../images/service-icons/Grid.png')
    height: 16px
    width: 16px
    cursor: pointer

  &__settings-button
    background: url('../../images/service-icons/Settings.png')
    height: 16px
    width: 16px
    cursor: pointer

  &__service-buttons
    display: flex
    justify-content: space-between
    margin: 0 26px
