.sidebar
  height: 100%
  position: fixed
  width: 350px

  top: 0
  left: 0
  background-color: #1d2531
  display: flex


  &__users-buttons
    width: 100px

  &__user-button
    height: 50px
    width: 50px
    border-radius: 25px
    border: none
    background: none
    padding: 0
    cursor: pointer

  &__user-button-wrapper
    list-style: none
    margin: 30px 25px
    height: 50px
    width: 50px
    position: relative

    &--active::before
      content: ""
      position: absolute
      left: -27px
      top: 25px
      display: inline-block
      width: 4px
      height: 4px
      border-radius: 2px
      background: #2399f1

  &__service-buttons-wrapper
    position: relative

  &__service-buttons
    height: 16px
    margin: 0 26px
    position: fixed
    bottom: 20px

  &__grid-button
    margin-right: 16px

  &__menu
    background: #222c3c
    width: 250px
    display: flex
    flex-direction: column
    justify-content: space-between
