.sidebar
  height: 100%
  position: fixed

  top: 0
  left: 0
  background-color: #1d2531
  display: flex

  &__users-icons
    width: 100px

  &__user-icon
    list-style: none
    margin: 30px 25px
    height: 50px
    width: 50px
    cursor: pointer

    &--active::before
      content: ""
      position: absolute
      // left: -25px
      // top: 25px
      display: inline-block
      width: 4px
      height: 4px
      border-radius: 2px
      background: #2399f1


  &__grid-button
    background: url('../../images/service-icons/Grid.png')
    height: 16px
    width: 16px
    cursor: pointer

  &__settings-button
    background: url('../../images/service-icons/Settings.png')
    height: 16px
    width: 16px
    cursor: pointer

  &__service-buttons
    display: flex
    justify-content: space-between
    margin: 0 26px

  &__active-menu
    background: #222c3c
    width: 250px
