.statistic-cards
  display: grid
  grid-gap: 22px
  gap: 24px
  grid-template-columns: repeat(4, 174px)
  margin-bottom: 20px

  @media screen and (max-width: 920px)
    grid-template-columns: repeat(2, 230px)
    justify-content: center

  @media screen and (max-width: 650px)
    grid-template-columns: repeat(1, 230px)