.statistic-card
  place-self: center

  height: 159px
  width: 176px
  border: 1px solid #e6eaee
  border-radius: 4px

  &__main-info
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

    height: 109px
    border-bottom: 1px solid #e6eaee

    background-color: #fff

  &__numbers
    padding-bottom: 6px

    color: #354052
    font-size: 30px

  &__new-orders-total
    color: #4695d9
    font-family: "Source Sans Pro Semibold"
    text-transform: uppercase
    font-size: 12px

  &__sales
    color: #21bb39
    font-family: "Source Sans Pro Semibold"
    text-transform: uppercase
    font-size: 12px

  &__paid-out
    color: #f2a80a
    font-family: "Source Sans Pro Semibold"
    text-transform: uppercase
    font-size: 12px

  &__new-customers
    color: #fc565e
    font-family: "Source Sans Pro Semibold"
    text-transform: uppercase
    font-size: 12px


  &__rate-info
    display: flex
    align-items: center
    justify-content: center

    height: 50px
    padding-bottom: 5px

    background-color: #f5f8fa

  &__rate-icon
    margin-right: 13px

  &__rate-text
    color: #354052
    text-transform: uppercase
    font-size: 12px
