html
  font-family: "Source Sans Pro", sans-serif
  font-style: normal
  font-weight: 400

body
  background: #eff3f6

.container
  display: grid
  grid-template-columns: 350px auto 410px
  grid-template-areas: "sidebar header header""sidebar main user-details""sidebar main user-details""sidebar main user-events"

  .main
    grid-area: main
    margin: 0 auto